.App {
  text-align: center;
}

.Board {
  display: grid;
  grid-template-rows: repeat(20, 40px);
  grid-template-columns: repeat(10, 40px);
  width: 400px;
  height: 800px;
  border: solid
}

.Tile {
  border: 1px, solid;
}

.empty {
  background-color: lightgray;
}

.yellow {
  background-color: yellow;
}

.lightblue {
  background-color: cyan;
}

.lightgreen {
  background-color: greenyellow;
}

.red {
  background-color: red;
}

.blue {
  background-color: blue;
}

.orange {
  background-color: orange;
}

.purple {
  background-color: purple;
}

